input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 7px;
}
input[type=submit]{
    width: 100%;
    background-color: yellowgreen;
    border : 4px solid yellowgreen;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    margin: 8px 0px;
    cursor: pointer;
}
.login-form{
    background-color: rgb(241, 236, 236);
    padding: 25px;
    margin : 2px;
    
}
#validation-div{
    display: none;
    background-color: rgb(241, 236, 236);
    padding: 25px;
    margin : 2px;
    position: relative;
}
.invalid{
    color: red;
}
.valid{
    color: green;
}
